<template>
    <div :class="panelStyle">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}
                <span class="pull-right">
                             {{ riskLevel }}
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="risk-sub-cat-image pull-left text-center" v-on:click="showModal" v-if="image != ''">
                        <div>
                            <img :src="imagePath" width="150px">
                        </div>
                        <div><small>(click to zoom)</small></div>
                    </div>
                    {{ description }}
                </div>
            </div>
            <div class="row" v-if="isLoading">
                <div class="col-md-2">
                    <img src="/images/loading.gif">
                </div>
            </div>
        </div>
        <div class="modal fade" :id="modalId" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <img :src="imagePath">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // Import the EventBus we just created.
    import {EventBus} from '../event-bus.js';

    export default {
        mounted: function () {
            var self = this;

            this.dataChanged();

            EventBus.$on('risk-assessment-submission-updated', payload => {
                self.dataChanged();
            });
        },
        props: {
            assessmentSubmissionId: {required: true},
            subCategoryId: {required: true},
            apiToken: {required: true},
        },
        computed: {
            panelStyle: function () {
                return "panel assessment-sub-category-rating-" + this.riskLevelStyle;
            },
            imagePath: function () {
                return '/images/subcategories/' + this.image;
            },
            modalId: function () {
                return "modalSubCatHead" + this.assessmentSubmissionId;
            }
        },
        methods: {
            showModal: function () {
                $('#' + this.modalId).modal();
            },
            dataChanged: function () {
                var self = this;

                $.ajax({
                    url: "/api/assessmentSubCategory/" + this.subCategoryId + "?assessment_submission_id=" + this.assessmentSubmissionId,
                    type: 'GET',
                    headers: {"Authorization": "Bearer " + this.apiToken},
                    success: function (rData) {
                        if (rData.name) {
                            self.title = rData.name;
                        }

                        if (rData.image) {
                            self.image = rData.image;
                        }

                        if (rData.description) {
                            self.description = rData.description;
                        }

                        if (rData.riskLevel) {
                            self.riskLevel = rData.riskLevel.level;
                            self.riskLevelStyle = rData.riskLevel.style;
                        }

                        self.isLoading = false;
                    }
                });
            }
        },
        data() {
            return {
                isLoading: true,
                title: 'poe',
                description: 'asdasd',
                image: '',
                riskLevel: '',
                riskLevelStyle: ''
            }
        }
    }
</script>