<template>
    <div class="row">
        <div class="col-md-4">
            <p>
                {{ title }}
                <span v-if="isLoading" class="pull-right">
                    <img src="/images/loading.gif">
                </span>
            </p>
            <p v-if="! title">Loading...</p>
        </div>
        <div class="col-md-6">
            <b-form-slider v-model="value" tooltip="hide" :max="maximum_value" @input="dataChanged"/>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-xs pull-right" v-on:click="showModal"
                    v-if="title && (image || description)">?
            </button>
        </div>
        <div class="modal fade" :id="modalId" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Help: {{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <img v-if="image" align=left      width=250      :src="image">
                            {{ description }}
                        </p>
                        <br class="clearfix">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {bFormSlider} from 'vue-bootstrap-slider';

    // Import the EventBus we just created.
    import {EventBus} from '../event-bus.js';


    export default {
        mounted: function () {
            var self = this;

            $('[data-toggle="popover"]').popover();

            $.ajax({
                url: "/api/assessmentBenefit/" + this.benefitId + "?assessment_submission_id=" + this.assessmentSubmissionId,
                type: 'GET',
                headers: {"Authorization": "Bearer " + this.apiToken},
                success: function (rData) {
                    if (rData.name) {
                        self.title = rData.name;
                    }

                    if (rData.description) {
                        self.description = rData.description;
                    }

                    if (rData.maximum_value) {
                        self.maximum_value = rData.maximum_value;
                    }

                    if (rData.current_selection) {
                        self.value = rData.current_selection;
                    }

                    self.isLoading = false;
                }
            });
        },
        props: {
            assessmentSubmissionId: {required: true},
            benefitId: {required: true},
            apiToken: {required: true},
        },
        computed: {
            modalId: function () {
                return 'benModal' + this.benefitId;
            }
        },
        methods: {
            showModal: function () {
                $('#' + this.modalId).modal();
            },
            dataChanged: function () {
                var self = this;

                var pData = {
                    assessment_benefit_id: this.benefitId,
                    value: this.value,
                    assessment_submission_id: this.assessmentSubmissionId,
                };

                self.isLoading = true;

                $.ajax({
                    type: "POST",
                    headers: {"Authorization": "Bearer " + this.apiToken},
                    url: "/api/assessmentSubmissionBenSelect/",
                    data: pData,
                    success: function (rData) {
                        self.isLoading = false;

                        EventBus.$emit('risk-assessment-submission-updated', {
                            benefitId: self.benefitId,
                            assessmentSubmissionId: self.assessmentSubmissionId
                        });
                    }
                });
            }
        },
        data() {
            return {
                isLoading: true,
                title: '',
                description: '',
                image: '',
                value: 0,
                maximum_value: 0,
                options: []
            }
        }
    }
</script>
<style src="bootstrap-slider/dist/css/bootstrap-slider.css"></style>