<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ varTitle }}
            <span v-if="! varTitle">Loading...</span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm" v-if="varDescription">
                        <img v-if="varImage" align=left   width=250   :src="varImage">
                        {{ varDescription }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <multiselect v-model="value" track-by="id" label="name" :options="options"
                                @input="dataChanged" :disabled="isLoading"></multiselect>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="/images/loading.gif" v-if="isLoading">
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div v-if="site_knowledge == 2">
                        <h4>How certain are you of your answer?</h4>
                        <label class="radio-inline">
                            <input type="radio" v-model="knowWeight" value="1" @click="dataChanged"
                                   :disabled="isLoading"> Very
                        </label>
                        <label class="radio-inline">
                            <input type="radio" v-model="knowWeight" value="1.50" @click="dataChanged"
                                   :disabled="isLoading"> Somewhat
                        </label>
                        <label class="radio-inline">
                            <input type="radio" v-model="knowWeight" value="2" @click="dataChanged"
                                   :disabled="isLoading"> Not Very
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <p class="bg-success text-center" v-if="showSaved">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        Saved
                    </p>
                </div>
            </div>

            <div class="modal fade" :id="modalId" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Help: {{ varTitle }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                <img v-if="varImage" align=left   width=250   :src="varImage">
                                {{ varDescription }}
                            </p>
                            <br class="clearfix">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    // Import the EventBus we just created.
    import { EventBus } from '../event-bus.js';

    export default {
        components: {
            Multiselect
        },
        mounted: function () {
            var self = this;

            $('[data-toggle="popover"]').popover();

            $.ajax({
                url: "/api/assessmentVariable/" + this.variableId + "?assessment_submission_id=" + this.assessmentSubmissionId,
                type: 'GET',
                headers: {"Authorization": "Bearer " + this.apiToken},
                success: function (rData) {
                    if (rData.name) {
                        self.varTitle = rData.name;
                    }

                    if (rData.description) {
                        self.varDescription = rData.description;
                    }

                    if (rData.options) {
                        self.options = rData.options;
                    }

                    if (rData.current_selection) {
                        self.knowWeight = rData.current_selection.knowledge_weighting;
                        self.value = rData.current_selection;
                    }

                    if(rData.site_knowledge) {
                        self.site_knowledge = rData.site_knowledge;
                    }

                    self.isLoading = false;
                }
            });
        },
        props: {
            assessmentSubmissionId: {required: true},
            variableId: {required: true},
            apiToken: {required: true},
        },
        computed: {
            modalId: function () {
                return 'varModal' + this.variableId;
            }
        },
        methods: {
            showModal: function () {
                $('#' + this.modalId).modal();
            },
            dataChanged: function () {
                var self = this;

                if (this.value.id && this.knowWeight) {

                    var pData = {
                        assessment_variable_id: this.variableId,
                        assessment_variable_value_id: this.value.id,
                        assessment_submission_id: this.assessmentSubmissionId,
                        knowledge_weighting: this.knowWeight
                    };

                    self.isLoading = true;

                    $.ajax({
                        type: "POST",
                        headers: {"Authorization": "Bearer " + this.apiToken},
                        url: "/api/assessmentSubmissionVarSelect/",
                        data: pData,
                        success: function (rData) {
                            self.isLoading = false;

                            EventBus.$emit('risk-assessment-submission-updated', {
                                variableId: self.variableId,
                                assessmentSubmissionId: self.assessmentSubmissionId
                            });

                            self.showSaved = true;
                            setTimeout(function() { self.showSaved = false; }, 2000);
                        }
                    });
                }
            }
        },
        data() {
            return {
                site_knowledge: 1,
                isLoading: true,
                showSaved: false,
                varTitle: '',
                varDescription: '',
                varImage: '',
                knowWeight: 1,
                value: '',
                options: []
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
