/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;



  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  .container {
    width: auto;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }
}

.footer-local{
  background-color: $brand-warning;
}

.footer-development {
  background-color: $brand-danger;
}

.risk-sub-cat-image {
  margin-right: 1em;
}

.container.risk-assessment-submit.affix {
  top: 0px;
  z-index: 2000;
  width: 100%;
  background-color: #dfdfdf !important;
  border-bottom: 2px solid #cecece;
  padding-top: 1em;

  .risk-sub-cat-image {
    display: none;
  }

  .panel-body {
    height: 110px;
    overflow: scroll;
  }
}


.risk-assessment-show {
  .risk-level-result-very-high {
    .risk-swatch {
      color: $risk-assessment-very-high;
      font-size: 36px;
    }

    .risk-arrow {
      display: none;
    }

    .risk-result-text-box {
      color: $risk-faded-color;
    }
  }

  .risk-level-result-high {
    .risk-swatch {
      color: $risk-assessment-high;
      font-size: 36px;
    }

    .risk-arrow {
      display: none;
    }

    .risk-result-text-box {
      color: $risk-faded-color;
    }
  }

  .risk-level-result-moderate {
    .risk-swatch {
      color: $risk-assessment-moderate;
      font-size: 36px;
    }

    .risk-arrow {
      display: none;
    }

    .risk-result-text-box {
      color: $risk-faded-color;
    }
  }

  .risk-level-result-low {
    .risk-swatch {
      color: $risk-assessment-low;
      font-size: 36px;
    }

    .risk-arrow {
      display: none;
    }

    .risk-result-text-box {
      color: $risk-faded-color;
    }
  }

  .risk-level-result-very-low {
    .risk-swatch {
      color: $risk-assessment-very-low;
      font-size: 36px;
    }

    .risk-arrow {
      display: none;
    }

    .risk-result-text-box {
      color: $risk-faded-color;
    }
  }

  .assessment-rating-very-low-risk {
    .risk-level-result-very-low {
      .risk-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .risk-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-low-risk {
    .risk-level-result-low {
      .risk-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .risk-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-moderate-risk {
    .risk-level-result-moderate {
      .risk-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .risk-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-high-risk  {
    .risk-level-result-high {
      .risk-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .risk-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-very-high-risk {
    .risk-level-result-very-high {
      .risk-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .risk-arrow {
        display: block;
      }
    }
  }


  // Benefits Start
  .benefit-level-result-very-high {
    .benefit-swatch {
      color: $benefit-assessment-very-high;
      font-size: 36px;
    }

    .benefit-arrow {
      display: none;
    }

    .benefit-result-text-box {
      color: $benefit-faded-color;
    }
  }

  .benefit-level-result-high {
    .benefit-swatch {
      color: $benefit-assessment-high;
      font-size: 36px;
    }

    .benefit-arrow {
      display: none;
    }

    .benefit-result-text-box {
      color: $benefit-faded-color;
    }
  }

  .benefit-level-result-moderate {
    .benefit-swatch {
      color: $benefit-assessment-moderate;
      font-size: 36px;
    }

    .benefit-arrow {
      display: none;
    }

    .benefit-result-text-box {
      color: $benefit-faded-color;
    }
  }

  .benefit-level-result-low {
    .benefit-swatch {
      color: $benefit-assessment-low;
      font-size: 36px;
    }

    .benefit-arrow {
      display: none;
    }

    .benefit-result-text-box {
      color: $benefit-faded-color;
    }
  }

  .benefit-level-result-very-low {
    .benefit-swatch {
      color: $benefit-assessment-very-low;
      font-size: 36px;
    }

    .benefit-arrow {
      display: none;
    }

    .benefit-result-text-box {
      color: $benefit-faded-color;
    }
  }

  .assessment-rating-very-low-benefit {
    .benefit-level-result-very-low {
      .benefit-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .benefit-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-low-benefit {
    .benefit-level-result-low {
      .benefit-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .benefit-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-moderate-benefit {
    .benefit-level-result-moderate {
      .benefit-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .benefit-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-high-benefit  {
    .benefit-level-result-high {
      .benefit-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .benefit-arrow {
        display: block;
      }
    }
  }

  .assessment-rating-very-high-benefit {
    .benefit-level-result-very-high {
      .benefit-result-text-box {
        font-weight: bold;
        color: $text-color;
        font-size: large;
      }

      .benefit-arrow {
        display: block;
      }
    }
  }
  // End Benefits

  .assessment-category-rating-very-high-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-very-high;

      h3 {
        color: white;
      }
    }
  }

  .assessment-category-rating-high-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-high;

      h3 {
        color: white;
      }
    }
  }

  .assessment-category-rating-moderate-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-moderate;
    }
  }

  .assessment-category-rating-low-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-low;

      h3 {
        color: white;
      }
    }
  }

  .assessment-category-rating-very-low-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-very-low;

      h3 {
        color: white;
      }
    }
  }

  .assessment-sub-category-rating-not-applicable {
    .panel-body {
      color: $risk-assessment-not-applicable;

      a {
        color: $risk-assessment-not-applicable;
      }
    }
  }

  .assessment-sub-category-rating-very-low-risk {
    .panel-body {
      color: $risk-assessment-very-low;

      a {
        color: $risk-assessment-very-low;
      }
    }
  }

  .assessment-sub-category-rating-low-risk {
    .panel-body {
      color: $risk-assessment-low;

      a {
        color: $risk-assessment-low;
      }
    }
  }

  .assessment-sub-category-rating-moderate-risk {
    .panel-body {
      color: $risk-assessment-moderate;

      a {
        color: $risk-assessment-moderate;
      }
    }
  }

  .assessment-sub-category-rating-high-risk {
    .panel-body {
      color: $risk-assessment-high;

      a {
        color: $risk-assessment-high;
      }
    }
  }

  .assessment-sub-category-rating-very-high-risk {
    .panel-body {
      color: $risk-assessment-very-high;

      a {
        color: $risk-assessment-very-high;
      }
    }
  }

  .subcatbox {
    .panel-heading {
      min-height: 60px;

      a {
        color: $text-color;

        :hover {
          font-weight: bold !important;
          color: black;
        }

        h3 {
          color: $text-color;
        }
      }
    }
  }
}

.risk-assessment-submit {
  .assessment-sub-category-rating-very-high-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-very-high;

      h3 {
        color: white;
      }
    }
  }

  .assessment-sub-category-rating-high-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-high;

      h3 {
        color: white;
      }
    }
  }

  .assessment-sub-category-rating-moderate-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-moderate;
    }
  }

  .assessment-sub-category-rating-low-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-low;

      h3 {
        color: white;
      }
    }
  }

  .assessment-sub-category-rating-very-low-risk {
    > div.panel-heading:nth-child(1) {
      background-color: $risk-assessment-very-low;

      h3 {
        color: white;
      }
    }
  }
}

.home-assessments {
  .assessment-rating-very-high-risk {
    background-color: $risk-assessment-very-high;
    color: white;
  }

  .assessment-rating-high-risk {
    background-color: $risk-assessment-high;
    color: white;
  }

  .assessment-rating-moderate-risk {
    background-color: $risk-assessment-moderate;
  }

  .assessment-rating-low-risk {
    background-color: $risk-assessment-low;
    color: white;
  }

  .assessment-rating-very-low-risk {
    background-color: $risk-assessment-very-low;
    color: white;
  }
}

.slider {
  width: 100% !important;
}


