
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$risk-faded-color: #cecece;
$benefit-faded-color: #cecece;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Risk Assessment Colors
$risk-assessment-not-applicable: #DFDFDF;
$risk-assessment-very-low: #2697E1;
$risk-assessment-low: #4BD468;
$risk-assessment-moderate: #ECE745;
$risk-assessment-high: #F8A937;
$risk-assessment-very-high: #F64646;

// Benefit Colors
$benefit-assessment-not-applicable: #DFDFDF;
$benefit-assessment-very-low: #F64646;
$benefit-assessment-low: #F8A937;
$benefit-assessment-moderate: #ECE745;
$benefit-assessment-high: #4BD468;
$benefit-assessment-very-high: #2697E1;
